.main-image{
	width: 100%;
}

.bg-1{
	background-color: rgb(0, 153, 153);
}

.bg-2{
	background-color: rgb(220,220,220);
}

.bg-3{
	background-color: darkslategray !important;
}

.team{
	height: 146px;
}